.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
width: 80%;
margin: 50px auto;
font-family: "Trirong", serif;

}
.contact-box{
  background: #fff;
  display: flex;
}
.contact-left{
  flex-basis: 60%;
  background: #e181de7e;
  padding: 40px 60px;
}
.contact-right{
  flex-basis: 40%;
  padding: 40px;
  background: #1b00b5f5;
  color: #fff;
}
h1{
  margin-bottom: 10px;
}
.container p{
  margin-bottom: 40px; 
}
.input-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group{
  flex-basis: 45%;

}
input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 3px;
  padding-bottom: 5px;
}
textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label{
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}
.contact-left h3{
color: #1c00b5;
font-weight: 600;
margin-bottom: 30px;
}
.contact-right h3{
font-weight: 600;
margin-bottom: 30px;
}
tr td:first-child{
  padding-right: 20px;
}
tr td{
  padding-top: 20px;
}










*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;  
}
.left{
  flex: 1;
  height: 100%;
}
.left img{
  width: 800px;
  height: 900px;
  object-fit: cover;
}
.right{
  width: 100%;
  height: 100vh;
  flex: 1.5;
  background-color: rgb(55, 59, 64);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px 50px;
  font-family: 'Archivo', sans-serif;
}
.name{
  font-family: 'Anton', sans-serif;
  padding: 50px;
  background-color: rgb(55, 59, 64);
  position: absolute;
  top: 20%;
  transform: translateX(-200px);
  border-radius: 500px;
}
.name h1{
  font-size: 80px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.other{
  padding:  0px 0px 100px 50px;
}
.position p{
  color: rgb(15, 180, 192);
  padding: 10px 0px;
  font-size: 24px;
}
.bio p{
  font-size: 22px;
  color: white;
  padding: 10px 0px;
  margin-bottom: 50px;
}
.right a{
  font-size: 22px;
  text-decoration: none;
  color: white;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  transition: .1s all ease-in-out;
}
.right a:hover{
  border: 1px solid rgb(15, 180, 192);
}
.social-btn i{
  margin-top: 50px;
  font-size: 50px;
  padding: 0px 10px;
  color: gray;
  transition: .3s all ease-in-out;
}
.social-btn i:hover {
  color: rgb(15, 180, 192);
}
@media screen and (max-width:1500px){
  .other{
      padding: 0px 20px 50px 20px;
  }
  .other .position{
      font-size: 18px;
  }
  .bio{
      font-size: 17px;
  }
  .right{
      padding: 20px;
  }
  .name{
      transform: translateX(-150px);
  }
  .left img{
      width: 600px;
      height: 800px;
  }
}
@media screen and (max-width: 1200px){
  .main{
      flex-direction: column;
      min-height: 100vh;
  }
  .left img{
      width: 500px;
      height: 600px;
  }
  .other{
      margin-top: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .right{
      justify-content: center;
      align-items: center;
      padding: 0;
  }
  .name{
      transform: translateX(0);
      top: 50%;
      padding: 20px;
  }
  .name h1{
      font-size: 50px;
  }
  .bio p{
      margin-bottom: 20px;
  }
  .social-btn i{
      margin-top: 20px;
  }
}
@media screen and (max-width: 720px){
  .name h1{
      font-size: 40px;
  }
  .name{
      top: 48%;
  }
}
@media screen and (max-width: 500px){
 .left img{
     width: 400px;
     height: 600px;
  }
}
@media screen and (max-width: 400px){
 .left img{
     width: 300px;
     height: 500px;
  }
 .name h1{
      font-size: 30px;
  }
  .name{
      top: 42%;
  }
}










*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-container{
  width: 100%;
  min-height: 100vh;
  display: flex; 
}
.bg-1{
  flex: 1;
  background-color: rgb(180, 243, 175);
}
.bg-2{
  flex: 1;
  background-color: rgb(163, 236, 240);
}
.about-container{
  width: 85%;
  min-height: 80vh;
  position: absolute;
  background-color: white;
  box-shadow: 24px 24px 30px #6d8dad;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}
.image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img {
  width: 500px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
}
.text-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 22px;
}
.text-container h1{
  font-size: 70px;
  padding: 20px 0px;
}
.text-container a{
  text-decoration: none;
  padding: 12px;
  margin: 50px 0px;
  background-color: rebeccapurple;
  border: 2px solid transparent;
  color: white;
  border-radius: 5px;
  transition: .3s all ease;
}
.text-container a:hover{
  background-color: transparent;
  color: black;
  border: 2px solid rebeccapurple;
}
@media screen and (max-width: 1600px){
  .about-container{
      width: 90%;
  }
  .image-container img{
      width: 400px;
      height: 400px;
  }
  .text-container h1{
      font-size: 50px;
  }
}
@media screen and (max-width: 1100px){
  .about-container{
      flex-direction: column;
  }
  .image-container img{
      width: 300px;
      height: 300px;
  }
  .text-container {
      align-items: center;
  }
}
.expertise h3{
  margin-top: 5px;
  color: #1c00b5;
}
.expertise p{
  margin-left: 5px;
 
}











/* error page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body{
  font-family: 'Poppins',sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf-otqeK0wzX5xddbl0xbXbewofG9NaLX55w&usqp=CAU");
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  text-align: center;
}
.wrapper h2{
  margin: 40px 0;
  font-size: 2.5rem;

}







/* login */
.login_image{
  height: 150px;
  width: 150px;
margin-left: 140px;
}
.navlink_class{
  margin-top: 2px;
}
.card_login{
  background: #47cbef;
}
.login_img1{
  background-image: url("https://cdn.trendhunterstatic.com/thumbs/380/cool-backgrounds.jpeg?auto=webp");
}





body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: .875rem;
  font-family: 'Roboto', sans-serif;
  background: black;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1;
}

p {
  font-size: .875rem;
  margin-bottom: .5rem;
  line-height: 1.3rem;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.5rem;
}

@media(max-width: 767px) {
  h2 {
    font-size: 1.9rem;
  }
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.45rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: .9375rem;
}

.card {
  background-color: #191c24;
}

.card-body {
  padding: 2rem;
}

@media (max-width: 991px) {
  .card-body {
    padding: 1.875rem 1.25rem;
  }
}

.grid-margin {
  margin-bottom: 20px;
}

.CodeMirror {
  font-size: .875rem;
  height: auto;
  text-align: left;
  min-height: auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.40em;
  padding: 10px;
  font-weight: 100;
  letter-spacing: .9px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.CodeMirror-scroll {
  min-height: auto;
}

.documentation .left-sidebar {
  width: 260px;
  padding: 20px 30px;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

@media (max-width: 991px) {
  .documentation .left-sidebar {
    padding: 16px;
    position: static;
  }
}

@media (min-width: 1200px) {
  .documentation .left-sidebar {
    width: 16.66666667%;
  }
}

@media (min-width: 768px) {
  .documentation .left-sidebar {
    width: 25%;
  }
}

.documentation .left-sidebar .logo-wrapper {
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.documentation .left-sidebar .logo-wrapper img {
  height: 24px;
}

.documentation .left-sidebar .left-menu-title {
  margin-top: 1rem;
}

.documentation .left-sidebar .left-menu {
  list-style-type: none;
  padding-left: 0;
}

.documentation .left-sidebar .left-menu li {
  line-height: 2.2;
  position: relative;
}

.documentation .left-sidebar .left-menu li a {
  text-decoration: none;
  color: #454545;
  cursor: pointer;
  padding-left: 18px;
}

.documentation .left-sidebar .left-menu li a::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1.5px solid #d384f9;
  position: absolute;
  left: 0;
  top: 11px;
}

.documentation .main-panel {
  padding: 40px 50px;
  margin-left: 0;
}

@media (max-width: 991px) {
  .documentation .main-panel {
    padding: 40px 20px;
  }
}

@media (min-width: 1200px) {
  .documentation .main-panel {
    margin-left: 16.66666667%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .documentation .main-panel {
    margin-left: 25%;
  }
}

.credits .credit-list {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 0;
}

.credits .credit-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.credits .credit-list li a {
  overflow: hidden;
  text-overflow: ellipsis;
}

.credits .credit-list li p {
  margin-right: 8px;
}

.credits .credit-list li p::before {
  content: '';
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1.5px solid #d384f9;
  position: absolute;
  left: -17px;
  top: 6px;
}